<nav>
  <img src="/logo.jpg" alt="INVENTRAK Logo" class="logo">
  <ul>
      <li><a href="#">Descargar app</a></li>
      <li><a href="#">Centro de ayuda</a></li>
      <li><a href="#">Crear cuenta</a></li>
      <li><a href="#">Contáctenos</a></li>
  </ul>
</nav>

<div class="formulario">
  <h1>Iniciar Sesión</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="campo correo">
          <input type="email" id="email" placeholder=" " required formControlName="email">
          <label for="email">Correo Electrónico</label>
      </div>
      <div class="campo contraseña">
          <input type="password" id="password" placeholder=" " required formControlName="password">
          <label for="password">Contraseña</label>
      </div>
      <button type="submit" >
        Iniciar Sesión
      </button>
  </form>
  <p class="recordar">Recordar mis datos</p>
</div>
